name: build-and-deploy-staging

on:
  push:
    branches-ignore:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: ./.github/actions/build
      - uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
        with:
          name: build-artifact
          path: out

  deploy:
    env:
      STAGING_DOMAIN: staging.drewmendenhall.com
      DEPLOY_ROOT: /var/www
    environment:
      name: ${{ github.ref_name }}
      url: https://${{ env.HOSTNAME }}
    needs: build
    runs-on: [self-hosted, www]
    steps:
      - run: |
          echo "REF_SLUG=$(\
            echo ${{ github.ref_name }} | \
            sed -r s/gh-readonly//g | \
            sed -r s/dependabot-npm-and-yarn/dependabot/g | \
            sed -r s/[^a-zA-Z0-9]+/-/g | \
            sed -r s/^-+\|-+$//g | \
            cut -c 1-23 | \
            sed -r s/-$//\
          )" >> $GITHUB_ENV
      - run: echo "HOSTNAME=$REF_SLUG.$STAGING_DOMAIN" >> $GITHUB_ENV
      - run: echo "DEPLOY_PATH=$DEPLOY_ROOT/$HOSTNAME" >> $GITHUB_ENV
      - run: echo 'DOLLAR=$' >> $GITHUB_ENV
      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          name: build-artifact
          path: ${{ env.DEPLOY_PATH }}
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - run: envsubst < deploy/site.bootstrap.template.conf > /etc/nginx/sites-available/$HOSTNAME.conf
      - run: ln -s -fn ../sites-available/$HOSTNAME.conf /etc/nginx/sites-enabled/$HOSTNAME.conf
      - run: sudo nginx -s reload
      - run: sudo certbot certonly --nginx --domain $HOSTNAME --domain www.$HOSTNAME --non-interactive
      - run: envsubst < deploy/site.template.conf > /etc/nginx/sites-available/$HOSTNAME.conf
      - run: sudo nginx -s reload
