name: playwright

on: deployment_status

jobs:
  playwright:
    if: github.event.deployment_status.state == 'success'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: ./.github/actions/setup-node
      - uses: ./.github/actions/setup-playwright
      - run: yarn playwright test
        env:
          BASE_URL: ${{ github.event.deployment_status.environment_url }}
      - uses: actions/upload-artifact@65462800fd760344b1a7b4382951275a0abb4808 # v4
        if: failure()
        with:
          name: playwright-results
          path: test-results/
          retention-days: 30
