name: tear-down-staging

on:
  delete:
  workflow_dispatch:

jobs:
  tear-down-site:
    env:
      STAGING_DOMAIN: staging.drewmendenhall.com
      DEPLOY_ROOT: /var/www
    if: github.event.ref_type == 'branch' || github.event_name == 'workflow_dispatch'
    runs-on: [self-hosted, www]
    steps:
      - run: echo "BRANCH_NAME=$(echo ${{ github.event_name == 'delete' && github.event.ref || github.ref_name }} | sed -r 's|^refs/heads/||g')" >> $GITHUB_ENV
      - run: echo "REF_SLUG=$(echo $BRANCH_NAME | sed -r s/[^a-zA-Z0-9]+/-/g | sed -r s/^-+\|-+$//g | cut -c 1-23 | sed -r s/-$//)" >> $GITHUB_ENV
      - run: echo "HOSTNAME=$REF_SLUG.$STAGING_DOMAIN" >> $GITHUB_ENV
      - run: echo "DEPLOY_PATH=$DEPLOY_ROOT/$HOSTNAME" >> $GITHUB_ENV
      - run: rm -rf $DEPLOY_PATH
      - run: rm /etc/nginx/sites-{available,enabled}/$HOSTNAME.conf
      - run: sudo certbot revoke --cert-path /etc/letsencrypt/live/$HOSTNAME/cert.pem --delete-after-revoke
      - run: sudo nginx -s reload
  delete-github-environment:
    if: github.event.ref_type == 'branch' || github.event_name == 'workflow_dispatch'
    permissions:
      deployments: write
    runs-on: ubuntu-20.04
    steps:
      - run: echo "BRANCH_NAME=$(echo ${{ github.event.name == 'delete' && github.event.ref || github.ref_name }} | sed -r 's|^refs/heads/||g')" >> $GITHUB_ENV
      - uses: strumwolf/delete-deployment-environment@v2.2.3
        with:
          environment: ${{ env.BRANCH_NAME }}
          onlyRemoveDeployments: true
          token: ${{ github.token }}
