name: typescript

on:
  merge_group:
    types:
      - checks_requested
  pull_request:
    paths:
      - '**/*.ts'
      - '**/*.tsx'
      - .github/actions/setup-node/**
      - .github/workflows/typescript.yml
      - package.json
      - tsconfig.json
      - yarn.lock
  push:
    branches:
      - main

jobs:
  typescript:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - uses: ./.github/actions/setup-node
      - run: yarn tsc
