name: yarn

on:
  push:
    paths:
      - .github/actions/setup-node/**
      - .github/workflows/yarn.yml
      - yarn.lock

concurrency: yarn

jobs:
  yarn:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: ./.github/actions/setup-node
